#main-container {
    display: flex;
    justify-content: center;
    background-color: none;
    height: 79vh;
    min-width: 768px;
}

#main-con {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F17C7C;
    padding: 2vw;
    height: 100%;
}

.column {
    background-color: #F17C7C;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    transition: background-color 0.3s;
    min-height: 20px;
}

.column.selected {
    background-color: #F8B400;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
}

/* 토글 버튼을 더 심플한 디자인으로 변경 */
.toggle-btn {
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
}

/* 설명 기본적으로 숨김 */
.description {
    display: none;
    margin-top: 10px;
    text-align: center;
    transition: height 0.3s ease;
}

/* 설명이 열릴 때 */
.description.show {
    display: block;
    height: auto;
}

        .buttons {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between; /* 좌우에 버튼을 배치 */
            transform: translateY(-50%); /* 수직 중앙 정렬 */
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            background-color: #333;
            color: white;
        }

        button:hover {
            background-color: #555;
        }
        
        
