@charset "UTF-8";


#main-container {
	
    display: flex;
	height:85vh;
	justify-content: space-between;
	background-color :#d3d3d3;
	z-index:0;
}
#main-con{
	display:flex;
	flex-grow: 1;
    padding: 2vh 2vh 2vh 2vh;
	right:0%;     /* Dynamic height calculation */
    gap: 12px;
    align-items: center; /* Key for vertical centering */
	justify-content: center;
	background-color: #1C1C1C;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: calc(84vw - 300px);
    height:100%;   
	border-radius:12px;
    gap: 12px;
    background-color: #2A2A2A;
    border:1px solid black;
}

@media (max-width: 768px) {
  #main-con{
  	width:84vw;
  }
  main{
  width:84vw;
  }
 }
        

#main-con > main {
    position: relative;
    overflow-y: scroll;
}

.carousel-container,
.carousel-container2,
.carousel-container3,
.carousel-container4,
.carousel-container5 {
    max-width: 95%;
}

      

        
        