@charset "UTF-8";
#main-container {
	
    display: flex;
	height:85vh;
	justify-content: space-between;
	background-color :#d3d3d3;
	z-index:0;
}
#main-con{
	display:flex;
	flex-grow: 1;
    padding: 2vh 2vh 2vh 2vh;
	right:0%;     /* Dynamic height calculation */
    gap: 24px;
    align-items: center; /* Key for vertical centering */
	justify-content: center;
	background-color: #1C1C1C;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: calc(70vw - 200px);
    height:100%;   
	border-radius:12px;
    gap: 12px;
    background-color: #2A2A2A;
    border:1px solid black;
}

@media (max-width: 768px) {
  #main-con{
  	width:84vw;
  }
  main{
  width:84vw;
  }
 }
        

#main-con > main {
    position: relative;
	overflow-y:auto;
}

.carousel-container,
.carousel-container2,
.carousel-container3,
.carousel-container4,
.carousel-container5 {
    max-width: 95%;
}

	.section {
	    display: flex;
	    
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    gap: 10px;
	    max-height: 90%;
		max-width: 90%;
		
	}
	 
	#member-container {
	    display: flex;
	    gap: 10px; 
	    overflow:hidden;
	    justify-content: center;
	    padding-top: 20px;
	    align-items: center;
	    border-radius: 20px;

	}
	.member{
	    background-color: #5b5b5b; 
	    display: flex;
	    flex-direction: column;
	    color: white;
	    font-weight: bold;
	    border-radius: 20px;
	    overflow: hidden;
	}
	.edit{
	    background-color: #5b5b5b; 
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    color: white;
	    font-weight: bold;
	    border-radius: 20px;
	    
	}  
	.left{
		width: 100%;
	 	text-indent: 10px; 
		background: linear-gradient(45deg, #232323, black);
   		display: flex;               
	    justify-content: flex-start; 
	    align-items: flex-start;     
	    margin-bottom: 0.5vh;
	    padding-right: 30px;
	    letter-spacing: 3px;
	    padding: 10px; 
	    font-size: 25px;
	    overflow: hidden;
   		overflow-wrap: break-word;
   		color: white;
	} 
	.set{
	    background-color: #5b5b5b; 
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    color: white;
	    font-weight: bold;
	    margin-top: 20px;
	    padding-bottom: 20px;
	    box-sizing: border-box;
	    border-radius: 20px;
	    overflow: hidden;
	} 
	.switch{
	    background-color:#5b5b5b; 
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    color: #353535;
	    font-weight: bold;
	    margin-top:20px;
	    padding-bottom: 20px;
	    border-radius: 20px;
	    overflow: hidden;
	}
	.use {
	    background-color: #5b5b5b; 
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    color: black;
	    font-weight: bold;
	    margin-top:20px;
	    padding-top: 2.5vh;
	    padding-bottom: 10px;
	    overflow: hidden;
	    border-radius: 20px;
	 }
	.row {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center; 
	    width: 100%; 
	    padding: 0 20px; 
	    padding-top: 8px;
	    padding-bottom: 3px;
	    box-sizing: border-box;
    } 
    .row span{
    	text-align: left;
    	margin-left: 0.5vw;
    	font-size: 20px;
    }
    .row-terms{
    	display: flex;
	    justify-content: flex-start;
	    align-items: center; 
	    width: 100%; 
	    padding: 0 20px; 
	    padding-bottom:12px;
	    box-sizing: border-box;
    }
    .icon {
    	background: none;
        width:32px; 
        height: 32px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: 1.5vw;
    }
    button {
	    outline: none;        
	    box-shadow: none;    
	    background: none;    
	    border: none;       
	}   
    .icon:hover{
   		opacity: 0.7;
    }
    
    #pay{
    	background: linear-gradient(45deg, #232323, black);
	    font-size: 25px;
	    padding: 1vh 1.5vw 1vh;  
	    color: white;
    }
    #nomal{
   	 	letter-spacing: 3px;
	    font-size: 30px;
	    margin-top: 10px;
	    margin-bottom: 15px;
	    padding: 0 1.5vw; 
	    color: white;
    }
    .my-txt{
    	color:white;
    }
    #day{
	    font-size: 15px;
	    margin-top: 0;
	    margin-bottom: 10px;
	    padding: 0 1.5vw;  
	    color: white;
    }
    #card{
    	font-weight: bold;
	    font-size: 20px;
	    padding: 0 1.5vw;  
	    color: white;
    }
    #policy{
    	font-size: 20px;
    	color: white;
    }
    .member, .edit, .set, .switch, .use {
    flex-shrink: 0; 
    } 